---
layout: default
title: Bitcoin Blog
---

<p>This is <a href="http://ondrejsika.com" target="_blank">my</a> personal blog about Bitcoin related things.</p>

<ul>
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> {% if post.language %}{{ post.language }}, {% endif %}{{ post.date | date: "%d. %m. %Y" }}</li>
{% endfor %}
</ul>

<p>I recommend <a href="http://bitcointrezor.com" target="_blank">Trezor</a> hardware wallet, <a href="http://mining.bitcoin.cz" target="_blank">Slush pool</a> for mining (i working on).</p>

