---
layout: base
---

<h1><a href="/">Bitcoin Blog</a></h1>

{{ content }}

<hr>

<p>(c) <a target="_blank" href="http://bitcoinblog.cz">bitcoinblog.cz</a> | <a target="_blank" href="http://twitter.com/bitcoin_blog">twitter</a></p>

