---
layout: post
---

{{ content }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.js"></script>

<script>
var elements = document.getElementsByClassName('math');
for (i = 0; i < elements.length; i++){
    katex.render(elements[i].innerHTML, elements[i]);
}
</script>

