---
layout: default
---

<h2>{{ page.title }}</h2>

<p>{{ page.date | date: "%d. %m. %Y"}}</p>

{{ content }}

<p style="font-size: 0.9em; color: grey;">--
<br><b>{{ page.author_name }}</b>
<br><a href="mailto:{{ page.author_email }}">{{ page.author_email }}</a>
<br><a href="{{ page.author_web }}" target="_blank">{{ page.author_web }}</a>
 | <a href="{{ page.author_twitter }}" target="_blank">twitter</a>
 | <a href="{{ page.author_github }}" target="_blank">github</a>
</p>

